<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>681613733368-8pblt7qs3u9estvblj55nuadf5ik361d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.681613733368-8pblt7qs3u9estvblj55nuadf5ik361d</string>
	<key>API_KEY</key>
	<string>AIzaSyDSd0awXhVBdlo3e_ny0UYSCNsmpM_XrDU</string>
	<key>GCM_SENDER_ID</key>
	<string>681613733368</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.edaaoneerr.guvenliBinaDegerlendirme.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>afetvar-47b46</string>
	<key>STORAGE_BUCKET</key>
	<string>afetvar-47b46.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:681613733368:ios:a6a31ea62352c41a0cfa0d</string>
</dict>
</plist>